.code-font {
  font-family: "'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace";
}

.center {
  text-align: center;
}

.code-btn {
  font-family: "'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace";
  text-align: center;
  background-color: #272821;
  color: #a9dc76;
}

.code-btn:hover,
.code-btn:focus,
.code-btn:active {
  background-color: #32332b;
  color: #a9dc76;
  border-color: #eff2e2;
}
